* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/*  INICIO DEL HEADER CON SU NAVBAR */
header .container {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.container li {
    margin-right: 30px;
    font-size: 14px;
    font-weight: normal;
    color: white;
}
.container li a {
    color: white;
}
.container .edit-item {
    border: 1px solid white;
    padding: 10px;
    font-size: 14px;
    color: white;
}
.container li a:hover {
    color: #D9A84E;
}
.edit-item:hover {
    color: #D9A84E;
    border: 0.5px solid #D9A84E;
    cursor: pointer;
}

/* FIN DEL HEADER Y SU NAVBAR */


main {
    width: 100%;
    height: 500px;
    background-color: rgba(244, 169, 169, 0.454);
}



/* EDICION DEL FOOTER */
.container {
    width: 100%;
    height: 400px;
    background-color: black;
}

.container-info {
    width: 100%;
    height: 250px;
}
.tittle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: #BF8417;
}
.tittle h2 {
    font-size: 30px;
    margin-top: 6px;
}

.container-info-footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-footer {
    width: 100%;
    height: 200px;
    margin: 130px 0px 20px 30px;
}
.info-footer h3 {
    color: #BF8417;
    font-size: 22px;
    margin-bottom: 5px;
}
.info-footer p {
    color: white;
    font-size: 18px;
    margin-bottom: 8px;
}

/* SEGUNDA SECTION FOOTER */
.container-section-two {
    width: 100%;
    height: 150px;
}
.container-logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-logo img {
    width: 80px;
    height: 80px;
}
.container-social {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container-social img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    filter: invert();
}