* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    list-style: none;
}

.active {
    color: #ffbf00 !important;
}



/*  INICIO DEL HEADER CON SU NAVBAR */
header .container {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .nav-bar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 80%;
}
.container .nav-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: end;
    list-style: none;
    width: 20%;
}
.container li {
    margin-right: 30px;
    font-size: 14px;
    font-weight: normal;
    color: white;
}
.container li a {
    color: white;
}
.container .edit-item {
    border: 1px solid white;
    padding: 10px;
    font-size: 14px;
    color: white;
}
.container li a:hover {
    color: #ffbf00;
    font-size: 15px;
}
.edit-item:hover {
    color: #ffbf00;
    border: 0.5px solid #D9A84E;
    cursor: pointer;
}
.log-in {
    font-size: 11px;
    border: 1px solid white;
    border-radius: 13px;
    padding: 6px;
}
.sing-up {
    font-size: 11px;
    border: 1px solid white;
    border-radius: 13px;
    padding: 6px;
}

/* FIN DEL HEADER Y SU NAVBAR */

main {
    width: 100%;
    height: 1120px;
    background-color: white;
}
.contenedor-titulo_visitanos {
    width: 80%;
    height: 130px;
    margin: 0 auto;
}
.contenedor-titulo_visitanos h1 {
    font-size: 35px;
    padding: 13px;
    text-align: center;
    color: #daa520;
}
.contenedor-titulo_visitanos p {
    font-size: 24px;
    padding: 0px 12px 12px 12px;
    text-align: center;
    color: black;
}
/* FIN CONTENEDOR TITULO */

.contenedor-principal_visitanos {
    width: 100%;
    height: 605px;
    display: flex;
    padding-top: 35px;
}
.contenedor-img_left {
    width: 50%;
    height: 570px;
    background-image: url(../assets/entre-1.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.contenedor-subtitulo_right {
    width: 50%;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor-subtitulo_right h2 {
    font-size: 28px;
    text-align: center;
    color: #daa520;
}
.contenedor-subtitulo_right p {
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    padding: 15px;
}

/* SECCION DEL SCROOL */
.contenedor-scroll {
    margin-top: 15px;
    max-height: 280px;
    padding: 6px 0 0 0;
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
}
.contenedor-scroll::-webkit-scrollbar {
    width: 0px;
}

.contenedor-scroll .item1 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/lic-1.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item2 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/lic-2.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item3 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/lic-3.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item4 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/lic-4.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item5 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/cafe-1.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item6 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/cafe-2.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item7 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/cafe-3.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item8 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/ref-1.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item9 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/ref-2.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item10 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/ref-3.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item11 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/ref-4.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item12 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/com-1.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}
.contenedor-scroll .item13 {
    min-width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 7px;
    background-image: url(../assets/com-2.jpeg);
    background-position: center center;
    background-image: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
}

h3 {
    font-size: 32px;
    text-align: center;
    color: #daa520;
}


/* EDICION DEL FOOTER */
.container {
    width: 100%;
    height: 306px;
    background-color: black;
}

.container-info {
    width: 100%;
    height: 200px;
}
.tittle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: #BF8417;
}
.tittle h2 {
    font-size: 25px;
    margin-top: 6px;
}

.container-info-footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-footer {
    width: 100%;
    height: 150px;
    margin: 90px 0px 20px 30px;
    display: flex;
    flex-direction: column;
}
.info-footer h3 {
    color: #BF8417;
    font-size: 20px;
    margin-bottom: 5px;
}
.info-footer a {
    color: white;
    font-size: 16px;
    margin-bottom: 4px;
}
.info-footer p {
    color: white;
    font-size: 16px;
    margin-bottom: 4px;
}
.info-footer a:hover {
    color: #ffbf00;
}

hr {
    width: 80%;
    height: 0.2px;
    margin: 0 auto;
    background-color: #fff;
}

/* SEGUNDA SECTION FOOTER */
.container-section-two {
    width: 100%;
    height: 106px;
}
.container-logo {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-logo img {
    width: 55px;
    height: 55px;
}
.container-social {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container-social img {
    width: 28px;
    height: 28px;
    margin-right: 30px;
    filter: invert();
}



















@media (min-width: 390px) and (max-width: 480px) {
    header .container {
        width: 100%;
        height: 50px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .container li {
        margin-right: 5.5px;
        font-size: 10px;
        font-weight: normal;
        color: white;
    }
    .container li a {
        color: white;
    }
    .container .edit-item {
        border: 1px solid white;
        padding: 8px;
        font-size: 10px;
        color: white;
    }
    .container li a:hover {
        color: #ffbf00;
        font-size: 10px;
    }
    .edit-item:hover {
        color: #ffbf00;
        border: 0.5px solid #ffbf00;
        cursor: pointer;
    }
    /* FIN DEL HEADER Y SU NAVBAR */




    /* main */
    main {
        width: 100%;
        height: 1130px;
    }
    .contenedor-titulo_visitanos {
        width: 90%;
        height: 120px;
        margin: 0 auto;
    }
    .contenedor-titulo_visitanos h1 {
        font-size: 20px;
        padding: 13px;
        text-align: center;
        color: #daa520;
    }
    .contenedor-titulo_visitanos p {
        font-size: 15px;
        padding: 0px 12px 12px 12px;
        text-align: center;
        color: black;
    }
    /* FIN CONTENEDOR TITULO */
    
    .contenedor-principal_visitanos {
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .contenedor-img_left {
        width: 100%;
        height: 400px;
        background-image: url(../assets/entre-1.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
    .contenedor-subtitulo_right {
        width: 100%;
        height: 250px;
    }
    .contenedor-subtitulo_right h2 {
        font-size: 20px;
        text-align: center;
        color: #daa520;
    }
    .contenedor-subtitulo_right p {
        font-size: 14px;
        text-align: center;
        line-height: 1.4;
        padding: 15px;
    }
    
    /* SECCION DEL SCROOL */
    .contenedor-scroll {
        margin: 15px 0px 12px 25px;
        max-height: 280px;
        padding: 6px 0 0 0;
        display: flex;
        overflow-x: auto;
    }
    .contenedor-scroll::-webkit-scrollbar {
        width: 0px;
    }
    
    .contenedor-scroll .item1 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/lic-1.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item2 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/lic-2.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item3 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/lic-3.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item4 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/lic-4.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item5 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/cafe-1.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item6 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/cafe-2.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item7 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/cafe-3.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item8 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/ref-1.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item9 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/ref-2.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item10 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/ref-3.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item11 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/ref-4.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item12 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/com-1.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    .contenedor-scroll .item13 {
        min-width: 200px;
        height: 230px;
        margin-right: 15px;
        background-image: url(../assets/com-2.jpeg);
        background-position: center center;
        background-image: no-repeat;
        background-size: cover;
        border-radius: 13px;
        cursor: pointer;
    }
    
    h3 {
        font-size: 25px;
        text-align: center;
        color: #daa520;
    }















    /* EDICION DEL FOOTER */
.container {
    width: 100%;
    height: 110px;
    background-color: black;
}

.container-info {
    display: none;
}


/* SEGUNDA SECTION FOOTER */
.container-section-two {
    width: 100%;
    height: 106px;
}
.container-logo {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-logo img {
    width: 55px;
    height: 55px;
}
.container-social {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container-social img {
    width: 28px;
    height: 28px;
    margin-right: 30px;
    filter: invert();
}
}
